.pdfWrapper {
  text-align: center;
  max-width: 100% !important;
  padding-top: 90px;
  position: relative;

  .headerTitle {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Play', sans-serif;
    margin-bottom: 20px;
  }

  .pdfContainer {
    width: max-content !important;
    margin: 0px auto !important;
    position: relative;

    .swiperWrapper {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      left: -15%;
      transform: translateY(-50%);
      width: 130%;
      z-index: 1;

      .iconContainer {
        display: flex;
        width: 2.5em;
        height: 2.5em;
        justify-content: center;
        align-items: center;
        background-color: #d1c4e9aa;
        z-index: 1;
        cursor: pointer;

        .icon {
          transition: all 0.4s ease-in;
          font-size: 2em;
          color: var(--theme-color);
        }
      }
    }
  }

  :global {
    .react-pdf__Page {
      margin-top: 10px;
    }

    .react-pdf__Page__textContent {
      border: 1px solid darkgrey;
      box-shadow: 5px 5px 5px 1px #ccc;
      border-radius: 5px;
    }

    .react-pdf__Page__annotations.annotationLayer {
      padding: 20px;
    }

    .react-pdf__Page__canvas {
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 900px) {
  .pdfWrapper .pdfContainer {
    padding-bottom: 5rem;

    .swiperWrapper {
      width: 100%;
      bottom: 0;
      left: 0;
      height: fit-content;
      top: auto;
    }
  }
}